name: Bump package version
on: workflow_dispatch
jobs:
  bump:
    name: Bump package version
    runs-on: ubuntu-latest
    steps:
    - name: â« Bumping version
      uses: jpb06/bump-package@v2.5.15
